<div class="Home">
  <%= link_to 'home', {:action => 'home', :controller => 'teacher'} %>
</div>
<p class="Back">
	<%= link_to 'Back', {:action => 'index'} %>
</p>
<p id="notice"><%= notice %></p>
<h1><%= @crop.name %></h1>

<p>
    <%= image_tag @crop.image.thumbnail.url.to_s %>
</p>
<p>
  <strong>description: </strong><%= @crop.description %></br>
</p>

<%= render 'tutorial/show'%>


<%= link_to 'Edit', {:action => 'edit', :id => @crop} %> |
