<% tuts = @crop.tutorials %>
<% index = 0 %>
<% tuts.each do |tutorial| %>
  <% images = tutorial.images %>
  <% index += 1 %>
  <p>
    <h1>
      Tutorial #<%= index %> : 
    </h1>
    <h2>
      <%= tutorial[:tutorial_type]%>
    </h2>
    <% images = images.sort_by {|img| img.image_order} %>
    <% images.each do |image| %>

      <%= form_for image , :html => {:multipart => true}, :url => {:action => "update_tutorial", id: image} do |f| %>
        <%= image_tag image.name.thumbnail.url.to_s %><%= f.file_field 'name'  %>
        <%= f.text_area 'description' %>
        <%= f.submit "Save changes" %>
      <% end %>
    <% end %>
  </p>
<% end %>


