<!DOCTYPE html>
<html>
  <head>
    <script src="https://code.jquery.com/jquery-2.1.0.min.js"></script>
    <title>Farmaid</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="logout">
      <%= link_to 'logout', {:action => 'logout', :controller => 'login'} %>
    </div>
    <%= yield %>
  </body>
</html>
